body{
  width: 100%;
    height:100vh;
position: relative;
}
.main{
  position: absolute;
  height:100%;
  width: 100%;
}
.uploding{
  margin-top: 100px;
}
.button{
  padding: 10px;
  background-color: gray;
  margin-left:10px ;
  cursor: pointer;
  color:white;

}
.changeColor{
  margin-top: 200px;
}
.changeColor button:nth-child(1){
  background-color: red;
}
.changeColor button:nth-child(2){
  background-color: black;
}
.changeColor button:nth-child(3){
  background-color: green;
}
img{
  width: 300px;
  height: 300px;
}

.media{
 
  margin-top: 300px;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  gap: 10px;
 
  
}
video{
  width: 300px;
  height: 300px;
}